---
export const prerender = false;

export async function get() {
  return {
    status: 302,
    headers: {
      Location: 'https://drive.usercontent.google.com/download?id=12T80UCRYFqavLzlxGMEmoXFRIxwiH7_L&export=download&authuser=0&confirm=t&uuid=64d64369-e0dd-4a52-9734-f114370894a1&at=APZUnTXdImvKYkL-ImCFa1KkOuBN:1717172001928'
    }
  };
}


---

<p>If you are not redirected automatically, <a href="https://drive.usercontent.google.com/download?id=12T80UCRYFqavLzlxGMEmoXFRIxwiH7_L&export=download&authuser=0&confirm=t&uuid=64d64369-e0dd-4a52-9734-f114370894a1&at=APZUnTXdImvKYkL-ImCFa1KkOuBN:1717172001928">click here to download</a>.</p>
