
---
import Social from './Social.astro';
---


<footer class="my-20">
   <Social platform="youtube" username="@verificationxpert" />
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} VerificationXpert. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p>

  <p class="text-center text-sm text-slate-500">
    Disclaimer: Please note that the instructors participating in this training are doing so in their individual capacity and are not representing or acting on behalf of their respective companies. The information shared and disseminated in this course is already available in the public domain in one form or another and does not contain proprietary or confidential material related to the instructors' companies
  </p>
</footer>
